* {
margin:0;
padding:0;
}

body {
font:16px Helvetica, Sans-Serif;
line-height:24px;
background:url(noise.jpg);
}

.clear {
clear:both;
}

#page-wrap {
width:800px;
margin:40px auto 60px;
}

h1 {
font-size:42px;
font-weight:700;
letter-spacing:-2px;
border-bottom:1px solid #999;
margin:0 0 16px;
padding:0 0 16px;
}

h2 {
font-size:20px;
position:relative;
margin:0 0 6px;
}

h2 span {
position:absolute;
bottom:0;
right:0;
font-style:italic;
font-family:Georgia, Serif;
font-size:16px;
color:#999;
font-weight:400;
}

p {
margin:0 0 16px;
}

a {
color:#999;
text-decoration:none;
border-bottom:1px dotted #999;
}

a:hover {
border-bottom-style:solid;
color:#000;
}

ul {
margin:0 0 32px 17px;
}

#objective {
width:500px;
float:left;
}

#objective p {
font-family:Georgia, Serif;
font-style:italic;
color:#666;
}

dt {
font-style:italic;
font-weight:700;
font-size:18px;
text-align:right;
width:150px;
float:left;
height:100px;
border-right:1px solid #999;
padding:0 26px 0 0;
}

dd {
width:600px;
float:right;
}

dd.clear {
float:none;
height:15px;
margin:0;
}

.portrait{
	height: 393px;
}

.drop-shadow {
	float:right;
    position:relative;
/*    width:40%;    
    padding:1em; */
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

.drop-shadow p {
    font-size:16px;
    font-weight:bold;
}

/* Lifted corners */

.lifted {
    -moz-border-radius:4px; 
         border-radius:4px;
}

.lifted:before,
.lifted:after { 
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}